#article-title{
  text-decoration: underline;
  text-transform: uppercase;
  color: black;
}
ul {
  padding-left: 0px;
}
li {
  list-style: none;
}
h1 {
  background-color: rgb(10, 21, 65);
  padding: 40px;
  margin: 0px 0px;
}
nav {
  background-color: rgb(21, 31, 69);
  margin-bottom: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}
nav button {
  background-color: rgba(252, 252, 252, 0.858);
  border-radius: 1;
  border: solid 2px rgb(0, 0, 0);
  margin: 0 10px;
  flex: 1;
}
body {
  background-color: rgb(59, 70, 121);
  letter-spacing: 1.5px;
  color: rgb(227, 202, 164);
  max-width: 100%;
  margin: 0;
  padding-bottom: 100px;
  text-align: center;
  min-width: 320px;
  min-height: 100vh;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.316),
    1px -1px 1px rgba(0, 0, 0, 0.302), -1px 1px 1px rgba(0, 0, 0, 0.362),
    1px 1px 1px black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
@media screen and (min-width: 600px) {
  .article-card {
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border: solid 5px (227, 202, 164);
    font-size: large;
    border-radius: 10px;
    margin: 25px auto;
    padding: 30px;
    display: flex;
    flex-direction: row;
    text-shadow: none;
    background-color: rgba(255, 255, 255, 0.808);
    width: 90%;
    color: rgb(0, 0, 0);
  }
  .article-card h3 {
    margin-top: 0;
    margin-bottom: auto; 
  }
  .article-card-img {
    height: 250px;
    width: 374.7px;
    flex-direction: row;
    margin: 0 auto 25px;
  }
  .comment-card{
    border: solid 2px black;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  }
  .single-article-card{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    border: solid 5px (227, 202, 164);
    border-radius: 10px;
    margin: 25px auto;
    padding: 30px;
    display: flex;
    flex-direction: row;
    text-shadow: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.808);
    width: 90%;
    color: black;
  }
  .article-card-bold{
    font-weight: bold;
  }
}
@media (max-width: 600px) {
  h2{
    margin-bottom: 50px;
  }
  .article-card {
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border: solid 5px (227, 202, 164);
    font-size: large;
    border-radius: 10px;
    margin: 15px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-shadow: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.808);
    width: 90%;
    color: rgb(0, 0, 0);
  }
  .article-card {
    width: 90%;
    margin: 15px auto;
    padding: 10px;
    flex-direction: column;
  }
  .single-article-information{
    font-size: small;
    padding: 5px;
    margin-top: auto;
  }
  .single-article-link{
    margin-bottom: 17px;
  }
  .article-card-img {
    height: auto;
    width: 100%;
    margin-bottom: 10px;
  }
  .comment-card{
    border: solid 2px black;
    border-radius: 20px;
    width: 90%;
    margin: 5px auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  }
  .single-article-card{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    border: solid 5px (227, 202, 164);
    border-radius: 10px;
    margin: 15px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-shadow: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.808);
    width: 90%;
    color: black;
  }
}